@import "~jspsych/css/jspsych.css";

.jspsych-display-element {
  background-color: #ffffff;
}

.study-problem {
  font-size: 100px;
}

#problem-answer-box {
  font-size: 100px;
  width: 15%;
  text-align: center;

  &[disabled] {
    background-color: white;
    border: 1px solid black;
  }
}

.correct-response {
  color: blue;
}

.study-feedback {
  width: 100%;
  height: 100%;

  > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;


    .feedback-images {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 33%;
    }

    .feedback-icon {
      width: 55px;
      height: 50px;
    }

    #feedback-buttons {
      display: flex;
      align-items: center;
      height: 34%;
    }

    .feedback-answer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 33%;

      strong {
        font-size: 25px;
      }
    }

    .feedback-message {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 50%;
      font-size: 25px;
      font-weight: bold;

      p {
        margin: 0;
      }
    }

    .correct-equation {
      font-size: 100px;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}