@import "~jspsych/css/jspsych.css";

.jspsych-display-element {
  background-color: #ffffff;
}

.study-problem {
  font-size: 100px;
}

#problem-answer-box {
  font-size: 100px;
  width: 15%;
}

.correct-response {
  color: blue;
}

.study-feedback {
  width: 100%;

  > form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .feedback-images {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .feedback-answer {
      width: 100%;
      height: 50%;
      margin-top: 10em;
    }

    .feedback-message {
      display: flex;
      align-items: center;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 15em;
      max-width: 25%;
    }

    .correct-equation {
      font-size: 100px;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}